/* 
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Lato', sans-serif;
*/
html {
  transition: all 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 50ms;
  background-color: #F9F9F9;
  counter-reset: slide-number; }

.scroll-container {
  height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  scroll-snap-destination: 50% 50%; }

.scroll-area {
  -webkit-scroll-snap-coordinate: 50% 50%;
  scroll-snap-coordinate: 50% 50%;
  scroll-snap-align: center; }

.markdown-body {
  transition: all 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 50ms;
  box-sizing: border-box;
  min-width: 200px;
  margin: 0 auto;
  padding: 0px;
  position: relative; }

.slide-divider {
  position: relative;
  height: 100%;
  height: 100vh;
  background-color: #F9F9F9; }

.slides {
  position: absolute;
  top: 0;
  left: calc((100vw - (100vw - 100%))/2 - 66.6666666667vh);
  width: 133.3333333333vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px;
  background: #F9F9F9; }
  @media (max-aspect-ratio: 16 / 12) {
    .slides {
      top: calc(50vh - 0.375 * (100vw-(100vw-100%)));
      left: 0;
      width: calc(100vw - (100vw - 100%));
      height: 75vh; } }

.bounding-box {
  background-image: url(...);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif; }

li, p, pre {
  transition: font-size 0ms;
  font-size: 1.5vw;
  border-radius: 3px;
  padding: 5px; }
  li:hover, p:hover, pre:hover {
    transition: font-size 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
    font-size: 2.25vw;
    box-shadow: 0px 0px 5px #D7DAE5;
    background-color: #B8336A;
    color: #F9F9F9; }

.sidebar-menu {
  float: left;
  display: none;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 10px 10px 0px; }
  .sidebar-menu ul {
    display: table;
    width: 20px;
    margin: 0 auto; }
  .sidebar-menu li {
    display: table-row;
    text-align: right; }
    .sidebar-menu li a {
      display: block;
      text-decoration: none;
      color: #D7DAE5;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      z-index: 1;
      padding: 0 1em;
      margin: 0 -1em; }
      .sidebar-menu li a:hover {
        color: #F9F9F9;
        background-color: #B8336A; }

img {
  max-width: 80vw; }

@media only screen and (min-device-width: 1200px) and (max-width: 900px) {
  html {
    background-color: #EDEDED; }

  .sidebar-menu {
    display: block; }

  .markdown-body {
    background-color: grey; }

  .slide-divider {
    background-color: #eaeaea;
    box-shadow: 0px 0px 5px #D7DAE5; }

  .slides {
    background: #F9F9F9;
    height: 75vw; } }
::selection {
  background-color: #B8336A;
  color: #F9F9F9; }

/*# sourceMappingURL=style.css.map */
